
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLZ5NkRNHPE2YDYB8Kbi0jq7XdZflD3qKNBvigEHwapoS0eKMq");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-size:20px;
 
    
}
center {
    font:  80px/500px Impact, Charcoal, sans-serif;
    color:yellow;

  }

  