
body {
    background:blue;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-size:20px;
 
    
}
center {
    font:  80px/500px Impact, Charcoal, sans-serif;
    color:white;

  }

  