body{
    font-size:150px;
    background: red;
    margin:250px;
}

button { width: 200px; height: 100px;}

button {
    border-radius: 40%;
    font-size:40px;
    background-color:white;
   font:  40px/50px Impact, Charcoal, sans-serif;
}
